body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

input,
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;

    box-sizing: border-box;
}

button {
    background-color: blue;
    color: white;

    border: none;
    cursor: pointer;
}

.mensagem {
    margin-top: 10px;
    font-weight: bold;
}

.sucesso {
    color: green;
}

.erro {
    color: red;
}